html, body {
  margin: 0;
  padding: 0;
}
/* was canvas */
canvas{
  display: block;
  position: absolute;
  transform:translate(-50%,-50%);
  left:calc(50% + 20px);
  top:calc(50% + 250px);
  border-style:solid;
  border-width: 10px;
  border-color: white;
  align-content: center;
}

h1 {
  position: absolute;
  left:200px;
}


#front{
  background-color: rgba(13,154,137,255);
  font-size: 30px;
  color:rgba(204,232,243,255);
  text-shadow: 1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

.header-box{
    position: absolute;
    left: calc(50% - 90px);
    top: calc(50% - 250px);
    width: 1000px;
    height: 150px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.list{
  position: absolute;
  margin-right: 1000px;
  top: 200px;
  font-size: 25px;
  text-shadow: 1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

/* start of many buttons */
.buttons{
  position: absolute;
  left: calc(50% + 10px);
  top: calc(50% + 650px);
  border-color: rgb(255,255,255);
  transform: translate(-50%, -50%);
  padding: 30px;
}
/* fromhttps://dev.to/gscode/20-css-buttons-4cni */
.ubutton:hover {
  background-color: yellow;
  font-size: 20px;
  color:red;
  border: 2px solid rgba(255,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}

.ibutton:hover{
  background-color: black;
  font-size: 20px;
  color:white;
  border: 2px solid rgba(255,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}

.pbutton:hover{
  background-color: rgb(252,238,201);
  font-size: 20px;
  color:rgb(149,83,50);
  border: 2px solid rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}
.ebutton:hover{
  background-color: rgb(165,85,31);
  font-size: 20px;
  color:black;
  border: 2px solid rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}

.iconlink{
  position: absolute;
  transform(-50%, -50%);
  padding: 20px;
  /* margin: 10px; */
  left:calc(50% + 380px);
  top: calc(50% - 270px);
  display: flex;
  height: 50px;
  padding: 20px;
  background: rgba(204,232,243,255);
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
}

.iconlink:hover {
  background: rgb(223,118,89);
  color:white;
}

.button:active {
  background: rgb(223,118,89);
  color:white;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0);
}

.instruct{
  position: absolute;
  transform(-50%, -50%);
  padding: 20px;
  /* margin: 10px; */
  left:calc(50% - 620px);
  top: calc(50% - 270px);
  display: flex;
  height: 50px;
  padding: 20px;
  background: rgba(204,232,243,255);
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
}

.iconlink:hover {
  background: rgb(223,118,89);
  color:white;
}

.button:active {
  background: rgb(223,118,89);
  color:white;
}

.button__text,
.newspaper {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.newspaper {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0);
}


/* page2.html */
/* #page1{
  background-color: rgb(223,118,89);
  font-size: 20px;
  color:rgb(237,232,232);
}

.box{
  position:fixed;
  left: 1080px;
  width: 150px;
  height: 150px;
  margin: 30px;
  font-size: 30px;
}

#Uli{
  position: absolute;
  left: 530px;
}
#ulisButton{
  position: absolute;
  top: 32px;
  left: 640px;
}
#uliV{
  position:absolute;
  top: 70px;
  left: 70px;
}

#uliD{
  position: absolute;
  right: 100px;
  top: 350px;
  margin: 50px;
}

#uliI{
  position: absolute;
  left: 680px;
  top: 70px;
}

#Ili{
  position: absolute;
  top: 500px;
  left: 550px;
}

#iliButton{
  position: absolute;
  left: 640px;
  top:535px;
}

#iliV{
  position: absolute;
  top: 573px;
  left: 70px;
}

#iliI{
  position: absolute;
  left: 680px;
  top: 573px;
}

#iliD{
  position: absolute;
  left:5px;
  top:853px;
  margin: 50px;
  margin-right: 180px;
}

#Pahu{
  position: absolute;
  top: 1000px;
  left: 560px;
}

#pahuButton{
  position: absolute;
  top:1032px;
  left: 640px;
}

#pahuV{
  position: absolute;
  top: 1073px;
  left: 70px;
}

#pahuI{
  position: absolute;
  top: 1073px;
  left: 680px;
}

#pahuD{
  position: absolute;
  top: 1353px;
  left:5px;
  margin: 50px;
  margin-right: 160px;
}

#Ipu{
  position: absolute;
  top: 1500px;
  left: 580px;
}

#ipuButton{
  position: absolute;
  top: 1535px;
  left: 640px;
}

#ipuV{
  position: absolute;
  top: 1573px;
  left: 70px;
}

#ipuI{
  position: absolute;
  top: 1573px;
  left: 680px;
}

#ipuD{
  position: absolute;
  top: 1853px;
  left:5px;
  margin: 50px;
  margin-right: 150px;
} */
