a {
  color:rgba(204,232,243,255);
  text-decoration: none;
}

a:hover {
  color: white;
}

#action-link{
  color:black;
  text-decoration:none;
}
#action-link:hover{
  color:white;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas{
  display: block;
  position: absolute;
  transform:translate(-50%,-50%);
  left:calc(50% + 20px);
  top:calc(50% + 250px);
  border-style:solid;
  border-width: 10px;
  border-color: white;
  align-content: center;
}

h1 {
  position: absolute;
  left:200px;
}


#front{
  background-color: rgba(13,154,137,255);
  font-size: 30px;
  color:rgba(204,232,243,255);
  text-shadow: 1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

.header-box{
    position: absolute;
    left: calc(50% - 90px);
    top: calc(50% - 250px);
    width: 1000px;
    height: 150px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.list{
  position: absolute;
  margin-right: 1000px;
  top: 200px;
  font-size: 25px;
  text-shadow: 1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

/* start of many buttons */
.buttons{
  position: absolute;
  left: calc(50% + 10px);
  top: calc(50% + 650px);
  border-color: rgb(255,255,255);
  transform: translate(-50%, -50%);
  padding: 30px;
}
/* fromhttps://dev.to/gscode/20-css-buttons-4cni */
.ubutton:hover {
  background-color: yellow;
  font-size: 20px;
  color:red;
  border: 2px solid rgba(255,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}

.ibutton:hover{
  background-color: black;
  font-size: 20px;
  color:white;
  border: 2px solid rgba(255,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}

.pbutton:hover{
  background-color: rgb(252,238,201);
  font-size: 20px;
  color:rgb(149,83,50);
  border: 2px solid rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}
.ebutton:hover{
  background-color: rgb(165,85,31);
  font-size: 20px;
  color:black;
  border: 2px solid rgba(0,0,0,0.5);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}

.iconlink{
  position: absolute;
  transform(-50%, -50%);
  padding: 20px;
  /* margin: 10px; */
  left:calc(50% + 380px);
  top: calc(50% - 270px);
  display: flex;
  height: 50px;
  padding: 20px;
  background: rgba(204,232,243,255);
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
}

.iconlink:hover {
  background: rgb(223,118,89);
  color:white;
}

.button:active {
  background: rgb(223,118,89);
  color:white;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0);
}

.instruct{
  position: absolute;
  transform(-50%, -50%);
  padding: 20px;
  /* margin: 10px; */
  left:calc(50% - 620px);
  top: calc(50% - 270px);
  display: flex;
  height: 50px;
  padding: 20px;
  background: rgba(204,232,243,255);
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
}

.instruct:hover {
  background: transparent;
  color:white;
  border:solid;
}

.button:active {
  background: rgb(223,118,89);
  color:white;
}

.button__text,
.newspaper {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.newspaper {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0);
}
