/* Cover Page */
.font-change {
  color: black;
  font-size: 30px;
}

body {
  background-color: rgb(168, 214, 230);
}

/* Page1 The Laughing Heart */
#red-font{
  background-color: rgb(185,22,22);
  font-size: 25px;
  font-family: 'Inknut Antiqua', serif;
}

/* Page2 Bluebird */

#Title {
  color: black;
}

#blue-font{
  font-size: 25px;
  font-family: 'Metal', cursive;
  background-color: rgb(100, 149, 237);
}

/* Both Page1 and Page2 */
.font-change-2{
  font-size: 30px;
  color: rgb(51, 60, 255);
}
